@font-face {
  font-family: 'Neuzeit Office';
  src: url('./fonts/NeuzeitOffice-Regular.eot');
  src: url('./fonts/NeuzeitOffice-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/NeuzeitOffice-Regular.woff2') format('woff2'),
    url('./fonts/NeuzeitOffice-Regular.woff') format('woff'),
    url('./fonts/NeuzeitOffice-Regular.ttf') format('truetype'),
    url('./fonts/NeuzeitOffice-Regular.svg#NeuzeitOffice-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit Office';
  src: url('./fonts/NeuzeitOffice-Bold.eot');
  src: url('./fonts/NeuzeitOffice-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NeuzeitOffice-Bold.woff2') format('woff2'),
    url('./fonts/NeuzeitOffice-Bold.woff') format('woff'),
    url('./fonts/NeuzeitOffice-Bold.ttf') format('truetype'),
    url('./fonts/NeuzeitOffice-Bold.svg#NeuzeitOffice-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit Office';
  src: url('./fonts/NeuzeitOffice-Italic.eot');
  src: url('./fonts/NeuzeitOffice-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/NeuzeitOffice-Italic.woff2') format('woff2'),
    url('./fonts/NeuzeitOffice-Italic.woff') format('woff'),
    url('./fonts/NeuzeitOffice-Italic.ttf') format('truetype'),
    url('./fonts/NeuzeitOffice-Italic.svg#NeuzeitOffice-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

html {
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Neuzeit Office', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  line-height: 1.29;
}

p {
  font-size: inherit;
  color: inherit;
  margin: 5px 0;

  a {
    border-bottom: 1px solid;

    &:hover {
      text-decoration: none;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'Neuzeit Office';
}

h1,
h2,
h3,
h4 {
  font-family: 'Neuzeit Office';
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.25;
}

h1 {
  font-size: 28px;
  font-weight: normal;
}

h2 {
  font-size: 21px;
  font-weight: normal;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
}

h5 {
  font-size: 15px;
  font-weight: normal;
}
