.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: white;
  width: 50%;
  height: 50%;
  z-index: 999;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 12px 24px 0 rgba(162, 124, 9, 0.25);
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
.ReactModal__Content--after-open {
  opacity: 1;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #10101030;
  z-index: 999;
  overflow: scroll;
}

.announcement-modal {
  width: 40%;
  float: right;
  margin-top: 7rem;
  height: 500px;
  overflow: 'scroll';
}
