// plugins
@import 'node_modules/bulma/bulma';
@import 'styles/vendor/black-tie.min.css';

// bulma variables
$family-sans-serif: 'Neuzeit Office', sans-serif;
$blue: #0000d5;
$yellow: #fff595;
$input-border-color: transparent;
$input-shadow: none;

// custom
@import 'styles/_helpers.scss';
@import 'styles/_global.scss';
@import 'styles/_type.scss';
@import 'styles/_forms.scss';
@import 'styles/_calendar.scss';
@import 'styles/_error.scss';
@import 'styles/_notes.scss';
